@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.montserrat {
  font-family: "Montserrat", sans-serif;
}
.openSans {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #e1dce6;
}
/* 
* {
  outline: 1px solid red; 
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
    scroll-behavior: smooth;
  overflow-y: auto; /* yalnız bir əsas scroll */
}

/* Dark mode styles */
.dark body {
  background: linear-gradient(135deg, #000000, #380b88, #3d246a);

  transition: background 0.5s ease, color 0.5s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
